* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 400;
  position: relative;
  background: #000;
}

.logo-wrap{
	width: 100%;
	min-height: 40%;
}

#sideNav {
  background: /*#041230*/#000000;
}

#about,
#portfolio,
#affiliations{
	background: url("../img/herobanner1.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}

#tattooshop{
	background: url("../img/herobanner1.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 60vh;
	width: 100%;
}

#contacts{
	background: url("../img/herobanner1.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 50vh;
	width: 100%;
}

.hero-banner1{
	background: 
		/*linear-gradient(
			to bottom,
			rgba(0,0,0,0.80),
			rgba(0,0,0,0.80)),*/
		url("../img/herobanner1.png");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
}

.navbar-dark .navbar-nav .nav-item .nav-link{
    font-family: "Montserrat";
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
 
.navbar-dark .navbar-nav .nav-item .nav-link:hover{
	color: #c71f1f;
}

/* The animation code */
@keyframes circbann {
  50% {
    background-color: #000;
  }
}

#circle-banner1{
	border: 5px solid #000;
	border-radius: 50%;
	height: 350px;
	width: 350px;
	margin-left: 32%;
	background: url("../img/logo2.png");
	background-size: cover;
	background-color: #ccc;
	animation: circbann 1s infinite;
}

#about-banner1{
	background: url("../img/Red_Emerald_Galaxy.jpg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 520px;
	width: 100%;
}

.heading-ones{
	color: #fff;
	font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    letter-spacing: 6px;
    background: 
    	linear-gradient(
		to right,
		rgba(255,255,255,0),
		rgba(255,255,255,0.15));
	text-shadow: 3px 3px #242222;
}

/* The animation code */
@keyframes scrollbtn {
  50% {
    opacity: 0;
  }
}

#scrollbtn{
	margin-left: 47%;
	margin-top: 10%;
	font-size: 5em;
	animation: scrollbtn 1s linear infinite;
}

#scrollbtn a{
	font-family: "Montserrat";
	text-decoration: none;
	color: #fff;
}

#scrollbtn a:hover{
	color: #c71f1f;
	text-decoration: underline;
}

/*================PORTFOLIO PAGE================*/

#p_about{
	text-align: justify;
	color: #fff;
	font-family: "Montserrat";
	font-size: 1.2rem;
}

#portf_imgholder1,#portf_imgholder2,#portf_imgholder3,
#portf_imgholder4,#portf_imgholder5,#portf_imgholder6,
#portf_imgholder7,#portf_imgholder8,#portf_imgholder9,
#portf_imgholder10,#portf_imgholder11,#portf_imgholder12,
#portf_imgholder13,#portf_imgholder14,#portf_imgholder15
{
	height: 150px;
	width: 18.8%;
}

#seemore1{
	width: 100%;
	height: 150px;
}

.heading-ones a{
	text-decoration: none;
	color: #fff;
	font-family: 'Orbitron', sans-serif;
}

.heading-ones a:hover{
	color: #c71f1f;
}

#portf_imgholder1{
	background: url("../img/portfolios/1.jpg");
	background-size: cover;
	margin-left: 3%;
}

#portf_imgholder2{
	background: url("../img/portfolios/2.jpg");
	background-size: cover;
}

#portf_imgholder3{
	background: url("../img/portfolios/3.jpg");
	background-size: cover;
}

#portf_imgholder4{
	background: url("../img/portfolios/4.jpg");
	background-size: cover;
}

#portf_imgholder5{
	background: url("../img/portfolios/5.jpg");
	background-size: cover;
}

#portf_imgholder6{
	background: url("../img/portfolios/6.jpg");
	background-size: cover;
	margin-left: 3%;
}

#portf_imgholder7{
	background: url("../img/portfolios/7.jpg");
	background-size: cover;
}

#portf_imgholder8{
	background: url("../img/portfolios/8.jpg");
	background-size: cover;
}

#portf_imgholder9{
	background: url("../img/portfolios/9.jpg");
	background-size: cover;
}

#portf_imgholder10{
	background: url("../img/portfolios/10.jpg");
	background-size: cover;
}

#portf_imgholder11{
	background: url("../img/portfolios/11.jpg");
	background-size: cover;
	margin-left: 3%;
}

#portf_imgholder12{
	background: url("../img/portfolios/12.jpg");
	background-size: cover;
}

#portf_imgholder13{
	background: url("../img/portfolios/13.jpg");
	background-size: cover;
}

#portf_imgholder14{
	background: url("../img/portfolios/14.jpg");
	background-size: cover;
}

#portf_imgholder15{
	background: url("../img/portfolios/15.jpg");
	background-size: cover;
}


/*================TATTOO SHOP PAGE================*/

#tatshop_imgholder1{
	background: url("../img/tattoo/Emerald Logo_509X350px.png");
	background-size: cover;
	height: 150px;
	width: 218px;
	margin-left: 30%;
}

#tatshop_imgholder2{
	background: url("../img/tattoo/Union Logo_341X350px.png");
	background-size: contain;
	background-repeat: no-repeat;
	height: 150px;
	width: 146px;
	margin-left: 30%;
}

.tats_anchor{
	color: #fff;
	font-size: 1.5rem;
}

.tats_anchor:hover{
	color: #c71f1f;
	text-decoration: none;
}

/*=========================CONTACT===================*/

.cont_p1{
	color: #fff;
	font-family: "Montserrat";
	font-size: 1.2rem;
	font-weight: bold;
	text-shadow: 1px 1px #242222;
}

.cont_p1 a{
	text-decoration: none;
	color: #fff;
}

.cont_p1 a:hover{
	color: #000;
}

/*=========================AFFILIATIONS===================*/





/*=========================FOOTER=========================*/

footer{
	background: #000;
	margin: 0;
	padding-top: 20px;
}



/*==================DESKTOP SETTINGS=======================*/
@media (min-width: 992px) {
	#sideNav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 20rem;
    height: 100vh;
	}

	#sideNav .navbar-collapse {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
	width: 100%;
	margin-bottom: auto;
	}

	#sideNav .navbar-collapse .navbar-nav {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	}

	#sideNav .navbar-collapse .navbar-nav .nav-item {
	display: block;
	}

	#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
	display: block;
	}

	.logo-wrap{
		padding-top: 20%;
	}

	.rightpart{
		width: 100%;
	    height: auto;
	    float: left;
	    padding-left: 20rem;
	}

}

/*==================MOBILE SETTINGS=======================*/
@media screen and (max-width: 800px){

	body{
		margin-top: 174px;
	}

	.logo-wrap{
		width: 50%;
	}

	#circle-banner1{
		border: 5px solid #000;
		border-radius: 50%;
		height: 350px;
		width: 350px;
		margin-left: 29%;
		margin-top: 10%;
	}

	#about{
		height: 100vh;
	}

	#tattooshop{
		height: 50vh;
	}

	#p_about{
		text-align: justify;
		color: #fff;
		font-family: "Montserrat";
		font-size: 1.2rem;
		visibility: visible;
	}

	#about-banner1{
		visibility: hidden;
	}

	#scrollbtn{
		margin-left: 48%;
		margin-top: 20%;
	}

}

/*==================MOBILE SETTINGS=======================*/
@media screen and (max-width: 420px){

	.logo-wrap{
		width: 260px;
	}

	#circle-banner1{
		border: 5px solid #000;
		border-radius: 50%;
		height: 200px;
		width: 200px;
		margin-left: 25%;
		margin-top: 10%;
	}

	#home{
		height: 80vh;
	}

	#about,
	#tattooshop,
	#affiliations{
		height: 80vh;
	}

	#portfolio{
		height: 150vh;
	}

	#contacts,
	#tattooshop{
		height: 50vh;
	}

	#about-banner1{
		height: 35vh;
	}

	#p_about{
		text-align: justify;
		color: #fff;
		font-family: "Montserrat";
		font-size: 0.7rem;
		visibility: visible;
	}

	#about-banner1{
		visibility: hidden;
	}

	.heading-ones{
		letter-spacing: 3px;
		font-size: 2rem;
	}

	#portf_imgholder1,#portf_imgholder2,#portf_imgholder3,
	#portf_imgholder4,#portf_imgholder5,#portf_imgholder6,
	#portf_imgholder7,#portf_imgholder8,#portf_imgholder9,
	#portf_imgholder10,#portf_imgholder11,#portf_imgholder12,
	#portf_imgholder13,#portf_imgholder14,#portf_imgholder15
	{
		height: 150px;
		width: 32%;
		margin: 0;
	}

	#portf_imgholder1,
	#portf_imgholder4,
	#portf_imgholder7,
	#portf_imgholder10,
	#portf_imgholder13{
		margin-left: 2%;
	}

	#contacts{
		height: 50vh;
	}

	#scrollbtn{
		margin-left: 45%;
		margin-top: 20%;
	}

	#tatshop_imgholder1{
		background: url("../img/tattoo/Emerald Logo_509X350px.png");
		background-size: cover;
		height: 100px;
		width: 145px;
		margin: 0;
	}

	#tatshop_imgholder2{
		background: url("../img/tattoo/Union Logo_341X350px.png");
		background-size: contain;
		background-repeat: no-repeat;
		height: 100px;
		width: 97px;
		margin-left: 30px;
	}

	.tats_anchor{
		color: #fff;
		font-size: 0.7rem;
	}

	.cont_p1{
		font-size: 1rem;
	}

}

@media screen and (max-width: 320px){

	.logo-wrap{
		width: 200px;
	}

	.logo-wrap img{
		width: 180px;
		height: 113.04px;
	}

	#circle-banner1{
		margin-left: 20%;
		margin-top: 20%;
	}

	#home,
	#about,
	#contacts,
	#tattooshop,
	#affiliations{
		height: 85vh;
	}

	#portfolio{
		height: 160vh;
	}
	
	#about-banner1{
		height: 35vh;
	}

	#p_about{
		text-align: justify;
		color: #fff;
		font-family: "Montserrat";
		font-size: 0.7rem;
		visibility: visible;
	}

	#about-banner1{
		visibility: hidden;
	}

	.heading-ones{
		letter-spacing: 3px;
		font-size: 2rem;
	}

	#contacts{
		height: 50vh;
	}

	.tats_anchor{
		color: #fff;
		font-size: 1rem;
	}

	.cont_p1{
		font-size: 0.8rem;
	}

	#scrollbtn{
		color: #fff;
		margin-left: 45%;
		margin-top: 10%;
		font-size: 3.5em;
		animation: scrollbtn 1s linear infinite;
	}

}
